html,
body {
    font-family: georgia;
}

.center {
    max-width: 650px;
    margin: auto;
}

.levi {
    text-decoration: underline;
    font-family: monospace;
}

.article-list a {
    font-size: 20px;
    text-decoration: none;
}
a {
    text-decoration: none;
}
a {
    color: slateblue !important;
}
p a:visited {
    color: purple !important;
}
a:hover{
    text-decoration: underline;
}

h4 {
    margin-bottom:0;
    margin-top: 40px;
}
